
body{
	width: 760px; /* how wide to make your web page */
	background-color: #ffe4e1; /* what color to make the background */
	margin: 0 auto;
	padding: 0;
	font:12px/16px Arial, sans-serif; /* default font */
}

div#main{
	background-color: #ffffff;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
	
}
div#intro{
	margin:0 auto;
	padding 40px;
	text-align: left;
	}
	
div#middle{
	background-color: #ebffd2;
	margin: 0 auto;
	padding: 50px;
	text-align: left;
	
}



img{
width: 75%;
height: 75%;
margin: auto;
display: block;
border-radius: 50%;
padding: 10px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
